@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}