/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {} */
/* @media (max-width: 1290px) {} */
/* @media (max-width: 1140px) {} */
/* @media (max-width: 1024px) {} */
@media (max-width: 992px) {
    .section_start {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        column-gap: 80px;
        border: 2px solid whitesmoke;
        width: 100%;
        max-width: 978px;
        padding: 30px;
        background: white;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 36px;
        margin-top: 52px;
    }

    .header_advert {
        background: coral;
    }
}
/* @media (max-width: 768px) {} */
/* @media (max-width: 736px) {} */
/* @media (max-width: 734px) {} */
/* @media (max-width: 684px) {} */
/* @media (max-width: 667px) {} */
/* @media (max-width: 576px) {} */
/* @media (max-width: 414px) {} */
/* @media (max-width: 412px) {} */
/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */