@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    background: #e5e5e5;
    font-family: Inter;
}

.header_advert {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDB601;
    column-gap: 10px;
}

.ad {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100px;
    font-weight: 700;
    justify-content: center;

}




a {
    text-decoration: none;
}

ul  {
    list-style: none;
}


/* header_start */


.header_navver {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header_list{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.header_input {
    display: flex;
    align-items: center ;
}

.page_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.nav {
    display: flex;
    align-items: center;
}

.fad{ 
    margin-left: 249px;
    
}

.nav_link {
    color: black;
}

.search {
    margin-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
}

/* header_end */

/* main start */

.make_title {
    font-size: 60px;
    font-family: Inter;
    font-weight: 700;
    width: 100%;
    max-width: 354px;
}

.mug {
    font-weight: 900;
}

.main_ad {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.make_text {
    font-size: 30px;
    font-weight: 400;
    opacity: 60%;
}

.main_start {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.image_bg {
    opacity: 100%;
    margin-left: 102px;
    
}


/* main end */

/* section */

.section_start {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    column-gap: 80px;
    border: 2px solid whitesmoke;
    width: 100%;
    max-width: 996px;
    padding: 30px;
    background: white;
}

.date_and_link {
    display: flex;
}

.date {
    opacity: 60%;
    font-size: 12px;
    width: 100%;
}

.txt_sextion {
    width: 100%;
    max-width: 400px;
    padding: 30px 0;
}

.READ_LINK {
    font-weight: 700;
    color: black;
    margin-left: 245px;
}

/* section */


/* cards */

.cards_img {
    width: 100%;
    max-width: 297px;
    height: 179px;
}

.card_text {
    width: 100%;
    max-width: 300px;
    padding: 20px 0 60px 0;
}

.title_txt {
    font-size: 20px;
    font-weight: 700;
    margin-left: 16px;
}

.cards {
    perspective: 1140px;
}

.card {
    background: white;
    width: 100%;
    max-width: 297px;
    transform: rotateX(45deg);
    
}

.card:hover {
    transform: rotatex(0);
}

.text_txt {
    font-size: 14px;
    font-weight: 400;
    margin-left: 17px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 52px;
    margin-top: 52px;

}

/* cards */

/* big_content */

.big_snct {
    width: 100%;
    max-width: 311px;
}

.Lorem_ipsum {
    font-size: 40px;
    font-weight: 700;
    
}

.section_main{ 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    column-gap: 66px;
    margin-top: 60px;
    padding: 30px 0;
    background: white;

}

.section_txt_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    display: flex;
    column-gap: 171px;
    margin-top: 30px    ;
}

.big_img {
    width: 100%;
    max-width: 600px ;
    
}

/* big_content */























/* second_page */

/* author */


/* author */


/* second_page */