@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
    scroll-behavior: smooth;
}

body {
    background: #e5e5e5;
    font-family: Inter;
}


a {
    text-decoration: none;
    
}

ul  {
    list-style: none;
}

/* header start */


.search{ 
    border: none;
    background: white;
    margin-left: 10px;
    outline: none;
}

.header_nav {
    display: flex;
    padding: 30px 0;
    background: white;
    justify-content: space-around;
}
.header_list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.header_input{ 
    display: flex;
    align-items: center;
    margin-left: 297px;
}
.header_navigation{ 
    display: flex;
    align-items: center;
    margin-left: 186px;
}

.nav_link {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

/* header end */


/* main start */

.author_page {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.img_part {
    margin-top: 50px;
}

.txt_part {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    border-bottom: 2px solid gray;
    margin: auto;
    padding-bottom: 10px;
}

.txt_name {
    font-size: 45px;
    font-weight: 700;

}

.pasive_voice {
    font-size: 18px;
    font-weight: 700;
}

.flex{
    display: flex;
    justify-content: start;
    column-gap: 20px;
    margin-top: 19px;
}

.Date_of_txt{ 
    display: flex;
    align-items: center;
    opacity: 60%;
}

/* main end */


/* biggest */

.the_end {
    width: 100%;
    max-width: 765px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: auto;
}

/* biggest */


/* ad */

.header_advert {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDB601;
    column-gap: 10px;
}

.ad {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100px;
    font-weight: 700;
    justify-content: center;
    

}

.flex_for {
    display: flex;
    justify-content: flex-start;
    margin-left: 90%;
    margin-top: -100px;
    margin-bottom: 100px;
}

/* ad */